body {
    font-family: helvetica, arial, sans-serif;
    
    color:#ACF392;

    background:linear-gradient(rgba(118, 222, 189, 0.85),rgba(137, 251, 207, 0.85)),url('bg_of_pregcalc.jpg') no-repeat center center/cover;

}
