{
	margin: 0;
	padding: 0;
	
	}body{
		 background:linear-gradient(rgba(88, 166, 221, 0.85),rgba(254, 255, 255, 0.85)),url('contact.jpg') no-repeat center center/cover;
		font-size: 20px;
		font-family: helvetica, arial, sans-serif;
    
    
	} 
	.container{
		width: 80%;
		margin: 50px auto;
		font-family: helvetica, arial, sans-serif;
		color: #fff;
		border: #474a4a;
		
		
        
	}
	.Contact-box{
		background: #fff;
		display: flex;
	}
	.contact-left{
		flex-basis: 60%;
		padding: 40px 60px;
		color: #fff;

	}
	.contact-right{
		flex-basis: 40%;
		padding: 40px;
		background: #454242;
		color: #fff;

	}
	h1{
		margin-bottom: 10px;
	}
	.container p{
		margin-bottom: 40px;
	}
	.input-row{
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}
   .input-row .input-group{
   	flex-basis: 45%;
   }
   input{
   	width: 100%;
   	border: none;
   	border-bottom: 1px solid #ccc;
   	outline: none;
   	padding-bottom: 5px;
   }
textarea {
	width: 100%;
	border: 1px sloid #ccc;
	outline: none;
	padding: 10px;
	box-sizing: border-box; 
}
label{
 margin-bottom: 6px;
 display: block;
 color: #f9f8f4;
}

button{
	background: #0094b5;
	width: 100px;
	border: none;
	outline: none;
	color: #fff;
	height: 35px;
	border-radius: 30px;
	margin-top: 20px;
	box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}

.contact-left h3 {
	color: #474a4a;
	font-weight: 600;
	margin-bottom: 30px;
}

tr td:first-child{
	padding-right: 20px;
}
tr td{
	padding-top: 20px;
}

footer{
    background: var(--exDark);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}
.social-links a{
    border: 2px solid #1c0689;
    color: #000000;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

.social-links a:hover{
    background: #fff;
    color: var(--exDark);
}


